<!DOCTYPE html>
<html>
<head>
    <title>Email Automation</title>
    <meta charset="UTF-8">
</head>
<body>
    <h2>Upload Email List and Send Emails</h2>

    <div>
        <form id="upload-form" action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".xlsx" required>
        <button type="submit" id="upload-email-list">Upload Email List</button>
    </form>

    <br><br>

    <form action="/fetch-replies" method="post">
        <button type="submit">Fetch Replies</button>
    </form>
    </div>

    <div>

    </div>

</body>
</html>